.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #851313;
    height: 100vh;
    position: fixed;
    overflow: auto;
    box-sizing: border-box;
    flex-direction: column;
    
}
.cards{
    display: flex;
    }
    .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 1px;
    margin: 5px;
    padding: 5px;
    }
    .card-body {
        flex-grow: 1;
    }
    
