.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #851313;
    height: 100vh;
    position: fixed;
    overflow: auto;
    box-sizing: border-box;
    flex-direction: column;
    
}
    

