.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: white;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
}

.profile {
    background-color: white;
    border: 0.2rem solid #e8ebe4;
    box-sizing: border-box;
    width: 100%;
    height: 13%;
    padding: 5px;
    align-items: center;
    display: flex;       
}

.small-thumbnail {
    border-radius: 50%;
    width:45px;
    border-color: fff;
    border: 1px solid #e8ebe4;
    float: left;
    object-fit: contain;
}

.icon {
    color: gray;
    font-size: larger;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chat-cta-button-container {
    height: 20%;
    font-family: "Roboto", Times, serif;
    background-color: #a491d2;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 3rem solid #fff;
    margin: 1rem solid #e8ebe4;
}

.chat-cta-button {
    font-weight: 400;
    background-color: #a491d2;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Roboto", Times, serif;
}

.user-name {
    font-family: "Roboto", Times, serif;
    color: #1b1f21;
    font-size: larger;
}

.current-status {
    font-family: "Open Sans", Times, serif;
    font-size: small;
    color: #969695;

}

.cards {
    background-color: white;
    border: 0.2rem solid #e8ebe4;
    box-sizing: border-box;
    width: 100%;
    height: 13%;
    padding: 5px;
    align-items: center;
    flex-direction: column;        
}

.big-thumbnail {
    border-radius: 50%;
    width:60px;
    border-color: fff;
    border: 3px solid #e8ebe4;
    float: left;
    margin-right: 10px;
    align-items: center;
    object-fit: contain;
}

.card-header {
    font-family: "Roboto", Times, serif;
    font-weight: 400;
    padding: 1px 1px;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin-top: 10px;
}

.card-body {
    font-family: "Open Sans", Times, serif;
    font-weight: 300;
    padding: 2px 2px;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin-top: 3px;

}

.main {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main h1 {
    font-family: "Roboto", Times, serif;
    font-weight: 400;
    align-items: center;
}

.main h2 {
    font-family: "Open Sans", Times, serif;
    font-weight: 400;
    font-size: medium;
    align-items: center;
    text-align: center;
}
